img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.profile{
    background-color: rgb(241, 241, 241);
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    width: 370px;
    border: 1px solid rgb(185, 184, 184);
    padding: 0.8rem;
    margin:0 auto;
}

.profile .container{
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 1px  dashed rgb(182, 180, 180);
}

.profile .profileInfo{
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
   
}

.profile input[type="file"]{
    position: absolute;
    margin-top: 10px;
    visibility: hidden;
}

.image{
    position: relative;
}
.profileInfo .info{
    padding: 0px 10px;
    line-height: 5px;
}
.profile .para{
    font-size: 1rem;
    padding: 2px;
    margin-top: 18px;
}
.icons-input{
    position: absolute;
}
.icon {
    cursor: pointer;
    top: 4.2rem;
    margin-bottom: 0px;
    left: 4.3rem;
    position: absolute;
    position: relative;
    background-color: blueviolet;
    color: white;
    padding: 6px;
    border-radius: 40%;
}