body {
    bottom: 0;
    /* margin: 0; */
  }
  .login {
    background-color: rgb(248, 246, 246);
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 370px;
    border: 1px solid rgb(185, 184, 184);
    padding: 0 1rem;
    margin: 0 auto;
  }
  .login h1{
    width: 60%;
  }
  /* .login .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */
  
  .login button {
    width: 95%;
    height: 2.3rem;
    margin: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: ;
  }
  .login .loginBtn {
    background-color: rgb(191, 191, 196);
    color: white;
    width: 95%;
  }
  
  .login .input{
      background-color: transparent;
      border: 1px solid rgb(187, 183, 183);
      width: 95%;
      height: 1.8rem;
      position: absolute;
      z-index: 2;
      top: 12px;
      padding: 8px;
  
  }
  .loginBtn:focus{
background-color: rgb(196, 209, 212);
  }
  .login  .label{
      position: absolute;
      padding: 0 4px;
      margin: 0 8px;
      color: rgb(100, 31, 226);
      background-color: rgb(248, 246, 246);
      z-index: 3;
  }
  
 
  
  .login  .input-container{
      position: relative;
  }
  
  
  
  
  
  